[submodule "sub-project-1"]
	path = sub-project-1
	url = https://github.com/oneyoungg/sub-project-1.git
	branch = main
[submodule "sub-project-2"]
	path = sub-project-2
	url = https://github.com/oneyoungg/sub-project-2.git
	branch = main
